<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>PatchAPIC</key>
		<false/>
		<key>smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change USBE to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change XHCI to XHC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixDisplay</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixRegions</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>-v</string>
		<key>CustomLogo</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>random</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>InjectLAN</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>layout-id</key>
				<integer>28</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL0(0,1,2... display number),override-no-connect</key>
				<data>AP///////wAGrzwyAAAAAAAXAQSVHxF4Aq/lllhTiiYkUFQAAAABAQEBAQEBAQEBAQEBAQEBzh1W4lAAHjAmFjYANa0QAAAYAAAADwAAAAAAAAAAAAAAAAAgAAAA/gBBVU8KICAgICAgICAgAAAA/gBCMTQwWFROMDMuMiAKAPY=</data>
				<key>device-id</key>
				<data>ZgEAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AQBmAQ==</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>#ig-platform-id</key>
			<string>0x01660003</string>
			<key>Custom</key>
			<data>AP///////wAGrzwyAAAAAAAXAQSVHxF4Aq/lllhTiiYkUFQAAAABAQEBAQEBAQEBAQEBAQEBzh1W4lAAHjAmFjYANa0QAAAYAAAADwAAAAAAAAAAAAAAAAAgAAAA/gBBVU8KICAgICAgICAgAAAA/gBCMTQwWFROMDMuMiAKAPY=</data>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelXCPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>AAAKAA0A</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.F000.B00.2006101934</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C026265014NF1YJ1H</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SmUUID</key>
		<string>FCD1B8AC-0114-4BE7-A6BA-E5E0107CCF51</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>233.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02RX7ZXDTY3</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/10/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>4477E87B-9028-5CC2-A8C1-7406D9EF2252</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>